<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Календарь</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Main' %}">Пациенты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'CreatePatient'%}">Добавить пациента</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'WeekdayRe'%}">Записать</a>
        </li>
        <form action="{% url 'Days'%}" method="post">
          {% csrf_token %}
          <input type="date" name="date_ch"/>
          <input type="submit"/>
        </form>
      </ul>
    </div>
  </div>
</nav>