
{%extends "base.html" %}
{% block cardpat %}
<div class="container px-4">
<div class="row mb-3 ">
    
<form action="{% url 'WeekdayRe'%}" method="POST"> {% csrf_token %}

{{form}}
<button type="submit" class="btn btn-primary">Сохранить</button>
</form>
</div>
</div>
<div class="container">
    {% load  pat_tags %}
    <div class="row">
      <div class="col-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Время записи</th>
                <th scope="col">ФИО</th>
                <th scope="col">Дата</th>
              </tr>
            </thead>
            <tbody>
    {%get_patients as patient%}
    {%for patient in patient%}
    <tr>
        <td>{{patient.TimeVisit}}</td>
        <td>{{patient}}</td>
        <td>{{patient.DateVisit}}</td>
    {%endfor%}
    </tr>
    </tbody>
    </table>
    </div>
      </div>
   
</div>
</div>
</div>
{% endblock %}
